.content {
  margin-top: 64px;
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
}

.sidebar {
  background-color: var(--menu-background);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: end;
}

.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 20px 0;
  width: 100vw;
}

.menu-btn-container {
  position: fixed;
  left: 10px;
  top: 74px;
  width: 40px;
  height: 40px;
  background-color: var(--menu-background);
  border-radius: 50%;
}