<div class="menu">
  <app-header/>
</div>
<mat-sidenav-container class="content" [hasBackdrop]="true">
  <mat-sidenav
    #sidenav
    mode="over"
    [(opened)]="opened"
  >
    <div class="sidebar">
      <div class="p-3">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <app-sidebar class="w-100"/>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="main">
    <button mat-icon-button (click)="sidenav.toggle()" class="toggle-menu">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
