.header {
  height: 64px;
  background: var(--menu-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.conta {
  font-size: 10px;
  text-align: end;
  line-height: 12px;
}