@if (parcelas.length > 0) {
  <div class="d-flex overflow-auto max gap-2">
    @for (parc of parcelas; track $index) {
      <div
        appearance="outlined"
        [class]="`alert ${parc | alertClass } m-0 p-0 card-container`"
      >
      <mat-card-header class="d-flex flex-column">
        <mat-card-title-group></mat-card-title-group>
        <mat-card-title class="d-flex align-items-center gap-1">
          <mat-icon>price_check</mat-icon>
          <div class="d-flex flex-column">
            {{parc.title|translate}} {{parc.item}}
            <span style="font-size: 11px; line-height: 0.9;">
              {{parc.subtitle|translate}} {{parc.loanId}}
            </span>
          </div>
        </mat-card-title>
        <mat-card-subtitle>
          {{parc.parcela | brCurrency : lang }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{'DASH.PAYMENTS.DUE_DATE'|translate}}: {{parc.vencimento | dateTrans : lang : dateFormats.DOCS_CARD}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="btn" (click)="pagar(parc)">
          {{'DASH.PAYMENTS.PAY'|translate}}
        </button>
      </mat-card-actions>
    </div>
    }
  </div>
}
