<ng-template #payLoan let-loan="obj">
  <p>{{'LOAN.LIST.SETTLE_TEMP'|translate}} {{loan.id}}?</p>
  <h4 class="m-0">{{loan.valor | brCurrency : lang}}</h4>
</ng-template>

<div class="d-flex justify-content-center gap-2">
  <button
    mat-mini-fab
    type="button"
    class="d-flex justify-content-center align-items-center m-2 btn-padrao"
    routerLink="/loan"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="d-flex align-items-center">
    <h4 class="form-title">
      {{'LOAN.LIST.CONTRACTS'|translate}}
    </h4>
  </div>
</div>
<table class="table">
  <tbody>
    @for (loan of loans(); track $index) {
      <tr [class]="loan.pago ? 'table-success': ''">
        <td class="icon-td">
          <div class="p-1 container-icon">
            <mat-icon>price_check</mat-icon>
          </div>
        </td>
        <td class="p-0">
          <table class="table table-borderless table-sm m-0">
            <tbody>
              <tr [class]="loan.pago ? 'table-success': ''">
                <td [matTooltip]="'LOAN.LIST.TOOLTIPS.NO'|translate">
                  {{'LOAN.LIST.NO'|translate}}
                </td>
                <td [matTooltip]="'LOAN.LIST.TOOLTIPS.ACQUISITION'|translate">
                  {{'LOAN.LIST.ACQUISITION'|translate}}: {{loan.data | dateTrans : lang : dateFormats.LOAN_LIST}}
                </td>
                <td [matTooltip]="'LOAN.LIST.TOOLTIPS.REQUESTED'|translate">
                  {{'LOAN.LIST.REQUESTED'|translate}}: {{loan.valor | brCurrency : lang}}
                </td>
                <td [matTooltip]="'LOAN.LIST.TOOLTIPS.TAX'|translate">
                  {{'LOAN.LIST.TAX'|translate}}: {{loan.taxa | brPercent : lang}} {{'LOAN.LIST.MONTHLY'|translate}}
                </td>
              </tr>
              <tr [class]="loan.pago ? 'table-success': ''">
                <td [matTooltip]="'LOAN.LIST.TOOLTIPS.STATUS'|translate">
                  {{'LOAN.LIST.STATUS'|translate}}: {{ statusParcelas(loan.parcelas) }}
                </td>
                <td [matTooltip]="'LOAN.LIST.TOOLTIPS.BALANCE'|translate">
                  {{'LOAN.LIST.BALANCE'|translate}}: {{getBalanco(loan) | brCurrency : lang}}
                </td>
                @if(loan.pago) {
                  <td>{{'LOAN.LIST.PAID_OFF'|translate}}</td>
                } @else {
                  <td [matTooltip]="'LOAN.LIST.TOOLTIPS.NEXT'|translate">
                    {{'LOAN.LIST.NEXT'|translate}}: {{
                      getProxParc(loan.parcelas).parcela | brCurrency : lang
                    }} - {{
                      getProxParc(loan.parcelas).vencimento | dateTrans : lang : dateFormats.DOCS_CARD
                    }}
                  </td>
                }
                <td>
                  <div class="d-flex justify-content-end">
                    <button
                      mat-icon-button
                      [matTooltip]="'LOAN.LIST.TOOLTIPS.INFOS'|translate"
                      type="button"
                      [routerLink]="loan.id"
                    >
                      <mat-icon>info</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
      </tr>
    }
  </tbody>
</table>

