<ng-template #payLoan let-loan="obj">
  <p>Deseja realmente quitar o contrato Nº {{loan.id}}?</p>
  <h4 class="m-0">{{loan.valor | brCurrency : lang}}</h4>
</ng-template>

<div class="d-flex justify-content-center gap-2">
  <button
    mat-mini-fab
    type="button"
    class="d-flex justify-content-center align-items-center m-2 btn-padrao"
    routerLink="/loan"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="d-flex align-items-center">
    <h4 class="form-title">CONTRATOS</h4>
  </div>
</div>
<table class="table">
  <tbody>
    @for (loan of loans(); track $index) {
      <tr [class]="loan.pago ? 'table-success': ''">
        <td class="icon-td">
          <div class="p-1 container-icon">
            <mat-icon>price_check</mat-icon>
          </div>
        </td>
        <td class="p-0">
          <table class="table table-borderless table-sm m-0">
            <tbody>
              <tr [class]="loan.pago ? 'table-success': ''">
                <td matTooltip="Número do contrato">
                  Nº {{loan.id}}
                </td>
                <td matTooltip="Data de aquisição do contrato">
                  Aquisição: {{loan.data | dateTrans : lang : dateFormats.LOAN_LIST}}
                </td>
                <td matTooltip="Valor solicitado no empréstimo">
                  Solicitado: {{loan.valor | brCurrency : lang}}
                </td>
                <td matTooltip="Taxa de juros de cálculo do contrato">
                  Taxa: {{loan.taxa | brPercent : lang}} a.m.
                </td>
              </tr>
              <tr [class]="loan.pago ? 'table-success': ''">
                <td matTooltip="Quantidade de parcelas pagas / Quantidade de parcelas contratadas">
                  Status: {{ statusParcelas(loan.parcelas) }}
                </td>
                <td matTooltip="Saldo devedor total">
                  Saldo: {{getBalanco(loan) | brCurrency : lang}}
                </td>
                @if(loan.pago) {
                  <td>CONTRATO QUITADO</td>
                } @else {
                  <td matTooltip="Próxima parcela a pagar">
                    Próxima: {{
                      getProxParc(loan.parcelas).parcela | brCurrency : lang
                    }} - {{
                      getProxParc(loan.parcelas).vencimento | dateTrans : lang : dateFormats.DOCS_CARD
                    }}
                  </td>
                }
                <td>
                  <div class="d-flex justify-content-end">
                    <button
                      mat-icon-button
                      matTooltip="Informações, parcelas e quitação"
                      type="button"
                      [routerLink]="loan.id"
                    >
                      <mat-icon>info</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
      </tr>
    }
  </tbody>
</table>

