<table class="table" style="max-width: 520px;">
  <tbody>
    @for (trans of data; track $index) {
      <tr>
        <td
          style="width: 66px; height: 76.4px;"
          class="d-flex justify-content-center align-items-center"
        >
          <div class="p-1 container-icon">
            <mat-icon>{{trans.tipo.icon}}</mat-icon>
          </div>
        </td>
        <td>
          <div class="tipo">
            {{`${getTipo(trans)}`}}
          </div>
          @if(trans.descricao) {
            <div class="descricao">
              {{ trans.descricao }}
            </div>
          }
          <div class="recebedor">
            {{getRecebedor(trans.recebedor)}}
          </div>
        </td>
        <td style="width: 150px; text-align: end;">
          <div [class]="`${trans.valor>0 ? 'text-success': 'text-danger'} valor`">
            {{trans.valor | brCurrency}}
          </div>
          <div>{{trans.data}}</div>
        </td>
      </tr>
    }
  </tbody>
</table>