<main class="d-flex flex-column gap-4 w-100 max">
  <h3>Documentos em Aberto</h3>
  <table class="table">
    <tbody>
      @for (trans of docs; track $index) {
        <tr [className]="trans | alertClass : 'table'">
          <td style="width: 60px;">
            <div class="p-1 container-icon">
              <mat-icon>{{(trans | tipoTrans).icon}}</mat-icon>
            </div>
          </td>
          <td>
            <div>{{trans.descricao}}</div>
            <div>
              Vencimento: {{trans.vencimento! | dateTrans : dateFormats.DOCS_LIST }}
            </div>
          </td>
          <td class="valor">
            {{trans.valor | brCurrency}}
          </td>
          <td style="width: 150px;">
            <div class="d-flex justify-content-between">
              <button
                mat-icon-button
                matTooltip="Pagar"
                type="button"
                class="text-success"
                (click)="pagar(trans)"
              >
                <mat-icon>payments</mat-icon>
              </button>
              @if (trans.vencimento!.getTime() > hojeTime) {
                <button
                  mat-icon-button
                  matTooltip="Editar"
                  type="button"
                  (click)="editar(trans)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Deletar"
                  type="button"
                  class="text-danger"
                  (click)="deletar(trans)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              }
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</main>
