<form
  [formGroup]="form"
  class="d-flex flex-column justify-content-center align-items-center px-4 py-2 rounded border border-secondary container gap-2 w-100"
  (ngSubmit)="submit()"
>
  <h4>CONTRATAÇÃO</h4>
  <div class="w-100 d-flex gap-2 justify-content-evenly">
    <mat-form-field
      appearance="outline"
      class="w-50"
      floatLabel="always"
    >
      <mat-label>Valor</mat-label>
      <input
        matInput
        type="text"
        class="input-valor"
        step="0.01"
        formControlName="valor"
        (input)="formatar($event)"
        (focus)="formatar($event)"
        (click)="formatar($event)"
        (blur)="formatar($event)"
        required
      />
      <span matTextPrefix>R$&nbsp;</span>
      @if (this.form.get('valor')?.invalid) {
        <mat-error>{{erroValor$()}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class="w-50"
    >
      <mat-label>Sistema de Amortização</mat-label>
      <mat-select formControlName="sistema">
        <mat-option [value]="sisCredito.PRICE">PRICE</mat-option>
        <mat-option [value]="sisCredito.SAC">SAC</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex flex-column w-75">
    <label for="parcelas" class="container-slider">
      <span class="slider-label">Quantidade de Parcelas*</span>
      <mat-slider
        min="1"
        [max]="parcelasMax()"
        step="1"
      >
        <input matSliderThumb id="parcelas" formControlName="parcelas"/>
      </mat-slider>
      <span class="hint">{{this.form.get('parcelas')?.value}} parcelas</span>
    </label>
  </div>
  @if (loan().parcelas.length) {
    <div class="d-flex justify-content-center flex-column">
      <h3 class="text-center">VALOR A PAGAR</h3>
      <span class="text-center">
        {{this.form.controls['parcelas'].value}} 
        x
        {{
          this.form.controls['sistema'].value === sisCredito.PRICE
            ? (loan().parcelas[0].parcela | brCurrency)
            : `${loan().parcelas[0].parcela | brCurrency} (Inicial) e ${loan().parcelas[loan().parcelas.length-1].parcela | brCurrency} (Final)`
        }} - Taxa efetiva: {{loan().totais.taxa | brPercent}} a.m.
      </span>
      <button
        mat-button
        type="button"
      >
        <mat-icon>table</mat-icon>
        VER TABELA DE PARCELAS
      </button>
    </div>
  }
  <button
    mat-fab
    extended
    class="btn-padrao"
    type="submit"
    [disabled]="disabledBtn()"
  >
    <mat-icon>attach_money</mat-icon>
    CONTRATAR
  </button>
</form>