<form
  [formGroup]="form"
  class="d-flex flex-column justify-content-center align-items-center px-4 py-2 max-form container gap-2 w-100"
  (ngSubmit)="submit()"
>
  <div class="d-flex justify-content-center w-100 gap-2">
    <button
      mat-icon-button
      type="button"
      class="d-flex justify-content-center align-items-center m-2"
      routerLink="/loan"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="d-flex align-items-center">
      <h4 class="form-title">SIMULAÇÃO</h4>
    </div>
  </div>
  <div>
    <!-- <h6 class="mb-1">SALDO DEVEDOR TOTAL: {{valorEmprestimos| brCurrency}}</h6> -->
    <div class="d-flex flex-column align-items-center">
      <span class="text-center">Sistema de Amortização</span>
      <div>
        <mat-button-toggle-group
          aria-label="Sistema de Amortização"
          formControlName="sistema"
          class="mb-2"
        >
          <mat-button-toggle [value]="sisCredito.PRICE" class="d-flex">
            PRICE
          </mat-button-toggle>
          <mat-button-toggle [value]="sisCredito.SAC" class="d-flex">
            SAC
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
  <mat-form-field
    appearance="outline"
    class="w-50"
    floatLabel="always"
  >
    <mat-label>Valor</mat-label>
    <input
      matInput
      type="text"
      class="input-valor"
      step="0.01"
      formControlName="valor"
      (input)="formatar($event)"
      (focus)="formatar($event)"
      (click)="formatar($event)"
      (blur)="formatar($event)"
      required
    />
    <span matTextPrefix>R$&nbsp;</span>
    @if (this.form.get('valor')?.invalid) {
      <mat-error>{{erroValor$()}}</mat-error>
    }
  </mat-form-field>
  <div class="d-flex flex-column w-75">
    <label for="parcelas" class="container-slider">
      <span class="slider-label">Quantidade de Parcelas*</span>
      <mat-slider
        min="1"
        [max]="parcelasMax()"
        step="1"
      >
        <input matSliderThumb id="parcelas" formControlName="parcelas"/>
      </mat-slider>
      <span class="hint">{{this.form.get('parcelas')?.value}} parcelas</span>
    </label>
  </div>
  @if (loan().taxa) {
    <div class="d-flex justify-content-center flex-column">
      <h5 class="text-center">RESULTADO</h5>
      <span class="text-center simulacao">
        {{this.form.controls['parcelas'].value}} 
        x
        {{
          this.form.controls['sistema'].value === sisCredito.PRICE
            ? (loan().parcelas[0].parcela | brCurrency)
            : `${loan().parcelas[0].parcela | brCurrency} (Inicial) e ${loan().parcelas[loan().parcelas.length-1].parcela | brCurrency} (Final)`
        }}
      </span>
      <span class="text-center taxa">
        Taxa efetiva: {{loan().taxa | brPercent}} a.m.
      </span>
      <button
        mat-button
        type="button"
        (click)="viewTable()"
      >
        <mat-icon>table</mat-icon>
        VER TABELA DE PARCELAS
      </button>
    </div>
  }
  <button
    mat-fab
    extended
    class="btn-padrao"
    type="submit"
    [disabled]="disabledBtn()"
  >
    <mat-icon>attach_money</mat-icon>
    CONTRATAR
  </button>
</form>