.font-size {
  font-size: 11px;
}

.fixed-head {
  top: -1px;
  font-size: 13px;
}

.pay-icon {
  height: 25px;
  width: 25px;
}

.pay-btn {
  height: 30px;
  width: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}