@if(loan$()?.id) {
  <div class="d-flex justify-content-center w-100 gap-2">
  <button
    mat-mini-fab
    type="button"
    class="d-flex justify-content-center align-items-center m-2 btn-padrao"
    routerLink="/loan/contratos"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="d-flex align-items-center">
    <h4 class="form-title">PARCELAS</h4>
  </div>
</div>
}
<table class="table table-bordered table-striped table-sm text-center">
  <thead [class]="`sticky-top ${loan$()?.id ? '' : 'fixed-head'}`">
    <tr>
      <th scope="col">Nº</th>
      <th>Vencimento</th>
      <th>Prestação</th>
      <th>Juros</th>
      <th>Amortização</th>
      <th>Saldo</th>
      @if (loan$()?.id) {
        <th>Ação</th>
      }
    </tr>
  </thead>
  <tbody [class]="loan$()?.id ? '' : 'font-size '">
    @for (parc of loan$()?.parcelas; track $index) {
      <tr
        [className]="!parc.pago ? (parc | alertClass : 'table') : ''"
      >
        <th class="valor" scope="row">
          <div>{{parc.item}}</div>
        </th>
        <td class="valor">
          {{parc.vencimento | dateTrans: dateFormats.DOCS_LIST }}
        </td>
        <td class="valor">
          {{parc.parcela | brCurrency}}
        </td>
        <td class="valor">
          {{parc.juros | brCurrency}}
        </td>
        <td class="valor">
          {{parc.amortizacao | brCurrency}}
        </td>
        <td class="valor">
          {{parc.saldo | brCurrency}}
        </td>
        @if (loan$()?.id) {
          <td class="valor">
            @if(parc.pago) {
              ✅Pago
            } @else {
              <button
                mat-icon-button
                matTooltip="Pagar"
                type="button"
                class="text-success pay-btn"
                (click)="pagar(loan$()?.id!,parc)"
              >
                <mat-icon class="pay-icon">payments</mat-icon>
              </button>
            }
          </td>
        }
      </tr>
    }
    <tr class="text-center">
      <th colspan="2" class="text-end">
        TOTAL:
      </th>
      <th>
        {{loan$()?.totais?.parcela! | brCurrency}}
      </th>
      <th>
        {{loan$()?.totais?.juros! | brCurrency}}
      </th>
      <th>
        {{loan$()?.totais?.amortizacao! | brCurrency}}
      </th>
      <th colspan="2"></th>
    </tr>
  </tbody>
</table>
@if (loan$()?.id) {
  <div class="d-flex justify-content-center align-items-center">
    <span class="px-3">VALOR ATUAL: {{presentValue$() | brCurrency}}</span>
    <button mat-button (click)="quitar(loan$()?.id!)">QUITAR CONTRATO</button>
  </div>
}
