<ng-template #payParc let-parcela="obj">
  <p>
    {{'LOAN.TABLE.SETTLE_TEMP.PAY'|translate}} {{parcela.item}}?
  </p>
  <h4 class="m-0">{{parcela.parcela | brCurrency : lang}}</h4>
  <span>
    {{'LOAN.TABLE.SETTLE_TEMP.DUE_DATE'|translate}}: {{parcela.vencimento | dateTrans : lang : dateFormats.DOCS_LIST}}
  </span>
</ng-template>

<ng-template #payLoan let-loan="obj">
  <p>{{'LOAN.TABLE.SETTLE_TEMP.PAID_OFF'|translate}} {{loan.id}}?</p>
  <h4 class="m-0">{{totalHoje() | brCurrency : lang}}</h4>
</ng-template>

@if(loan$()?.id) {
  <div class="d-flex justify-content-center w-100 gap-2">
  <button
    mat-mini-fab
    type="button"
    class="d-flex justify-content-center align-items-center m-2 btn-padrao"
    routerLink="/loan/contratos"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="d-flex align-items-center">
    <h4 class="form-title">{{'LOAN.TABLE.TITLE'|translate}} {{loan$()?.id}}</h4>
  </div>
</div>
}
<table class="table table-bordered table-striped table-sm text-center">
  <thead [class]="`sticky-top ${loan$()?.id ? '' : 'fixed-head'}`">
    <tr>
      <th scope="col">
        {{'LOAN.TABLE.HEADER.NO'|translate}}
      </th>
      <th>
        {{'LOAN.TABLE.HEADER.DUE_DATE'|translate}}
      </th>
      <th>
        {{'LOAN.TABLE.HEADER.INSTALLMENT'|translate}}
      </th>
      <th>
        {{'LOAN.TABLE.HEADER.INTEREST'|translate}}
      </th>
      <th>
        {{'LOAN.TABLE.HEADER.AMORTIZATION'|translate}}
      </th>
      @if (!loan$()?.id) {
        <th>
          {{'LOAN.TABLE.HEADER.BALANCE'|translate}}
        </th>
      }
      @if (loan$()?.id) {
        <th>
          {{'LOAN.TABLE.HEADER.PAYMENT_TODAY'|translate}}
        </th>
        <th>
          {{'LOAN.TABLE.HEADER.PAY'|translate}}
        </th>
      }
    </tr>
  </thead>
  <tbody [class]="loan$()?.id ? '' : 'font-size'">
    @for (parc of loan$()?.parcelas; track $index) {
      <tr
        [className]="!parc.pago ? (parc | alertClass : 'table') : ''"
      >
        <th scope="row">
          <div>{{parc.item}}</div>
        </th>
        <td>
          {{parc.vencimento | dateTrans : lang: dateFormats.DOCS_LIST }}
        </td>
        <td>
          {{parc.parcela | brCurrency : lang}}
        </td>
        <td>
          {{parc.juros | brCurrency : lang}}
        </td>
        <td>
          {{parc.amortizacao | brCurrency : lang}}
        </td>
        @if(!loan$()?.id) {
          <td>
            {{parc.saldo | brCurrency : lang}}
          </td>
        }
        @if (loan$()?.id) {
          <td>
            @if(parcelaHoje(parc.item)) {
              {{parcelaHoje(parc.item) | brCurrency : lang}}
            } @else {
              ✅{{'LOAN.TABLE.PAID'|translate}}
            }
          </td>
          <td>
            @if(parc.pago) {
            } @else {
              <button
                mat-icon-button
                [matTooltip]="'LOAN.TABLE.PAY'|translate"
                type="button"
                class="text-success pay-btn"
                (click)="pagar(parc, payParc)"
              >
                <mat-icon class="pay-icon">payments</mat-icon>
              </button>
            }
          </td>
        }
      </tr>
    }
    <tr class="text-center">
      <th colspan="2" class="text-end">
        TOTAL:
      </th>
      <th>
        {{getBalanco().parcela | brCurrency : lang}}
      </th>
      <th>
        {{getBalanco().juros | brCurrency : lang}}
      </th>
      <th>
        {{getBalanco().amortizacao | brCurrency : lang}}
      </th>
      @if(loan$()?.id){
        <th colspan="2"></th>
      } @else {
        <th colspan="1"></th>
      }
    </tr>
  </tbody>
</table>
@if (loan$()?.id) {
  <div class="d-flex justify-content-center align-items-center">
    <span class="px-3">
      {{'LOAN.TABLE.CURRENT_VALUE'|translate}}: {{totalHoje() | brCurrency : lang}}
    </span>
    @if (!loan$()?.pago) {
      <button mat-button (click)="quitar(payLoan)">
        {{'LOAN.TABLE.SETTLE'|translate}}
      </button>
    }
  </div>
}
