<ng-template #payParc let-parcela="obj">
  <p>Deseja realmente pagar parcela Nº {{parcela.item}}?</p>
  <h4 class="m-0">{{parcela.parcela | brCurrency}}</h4>
  <span>vencimento: {{parcela.vencimento | dateTrans : dateFormats.DOCS_LIST}}</span>
</ng-template>

<ng-template #payLoan let-loan="obj">
  <p>Deseja realmente quitar o contrato Nº {{loan.id}}?</p>
  <h4 class="m-0">{{loan.valor | brCurrency}}</h4>
</ng-template>

@if(loan$()?.id) {
  <div class="d-flex justify-content-center w-100 gap-2">
  <button
    mat-mini-fab
    type="button"
    class="d-flex justify-content-center align-items-center m-2 btn-padrao"
    routerLink="/loan/contratos"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="d-flex align-items-center">
    <h4 class="form-title">PARCELAS - Contrato Nº {{loan$()?.id}}</h4>
  </div>
</div>
}
<table class="table table-bordered table-striped table-sm text-center">
  <thead [class]="`sticky-top ${loan$()?.id ? '' : 'fixed-head'}`">
    <tr>
      <th scope="col">Nº</th>
      <th>Vencimento</th>
      <th>Prestação</th>
      <th>Juros</th>
      <th>Amortização</th>
      @if (!loan$()?.id) {
        <th>Saldo</th>
      }
      @if (loan$()?.id) {
        <th>Pagamento Hoje</th>
        <th>Pagar</th>
      }
    </tr>
  </thead>
  <tbody [class]="loan$()?.id ? '' : 'font-size '">
    @for (parc of loan$()?.parcelas; track $index) {
      <tr
        [className]="!parc.pago ? (parc | alertClass : 'table') : ''"
      >
        <th scope="row">
          <div>{{parc.item}}</div>
        </th>
        <td>
          {{parc.vencimento | dateTrans: dateFormats.DOCS_LIST }}
        </td>
        <td>
          {{parc.parcela | brCurrency}}
        </td>
        <td>
          {{parc.juros | brCurrency}}
        </td>
        <td>
          {{parc.amortizacao | brCurrency}}
        </td>
        @if(!loan$()?.id) {
          <td>
            {{parc.saldo | brCurrency}}
          </td>
        }
        @if (loan$()?.id) {
          <td>
            @if(parcelaHoje(parc.item)) {
              {{parcelaHoje(parc.item) | brCurrency}}
            } @else {
              ✅Pago
            }
          </td>
          <td>
            @if(parc.pago) {
            } @else {
              <button
                mat-icon-button
                matTooltip="Pagar"
                type="button"
                class="text-success pay-btn"
                (click)="pagar(parc, payParc)"
              >
                <mat-icon class="pay-icon">payments</mat-icon>
              </button>
            }
          </td>
        }
      </tr>
    }
    <tr class="text-center">
      <th colspan="2" class="text-end">
        TOTAL:
      </th>
      <th>
        {{loan$()?.totais?.parcela! | brCurrency}}
      </th>
      <th>
        {{loan$()?.totais?.juros! | brCurrency}}
      </th>
      <th>
        {{loan$()?.totais?.amortizacao! | brCurrency}}
      </th>
      @if(loan$()?.id){
        <th colspan="2"></th>
      } @else {
        <th colspan="1"></th>
      }
    </tr>
  </tbody>
</table>
@if (loan$()?.id) {
  <div class="d-flex justify-content-center align-items-center">
    <span class="px-3">VALOR ATUAL: {{totalHoje() | brCurrency}}</span>
    @if (!loan$()?.pago) {
      <button mat-button (click)="quitar(payLoan)">QUITAR CONTRATO</button>
    }
  </div>
}
