<nav class="d-flex justify-content-center gap-4">
  @for (item of operationItems; track $index) {
    <button
      type="button"
      class="btn"
      [disabled]="disabledBtn(item.operation)"
      (click)="changeOperation(item)"
    >
      <mat-icon>{{item.icon}}</mat-icon>
      {{item.label}}
    </button>
  }
</nav>
<form
  [formGroup]="Operationform"
  class="d-flex flex-column justify-content-center align-items-center w-75 px-4 py-2 rounded border border-secondary container gap-2"
  (ngSubmit)="submit()"
>
  <h3>
    {{ (currentOp | async)?.label }}
  </h3>
  <mat-form-field class="w-75">
      <mat-label>Origem</mat-label>
      <input
        matInput
        placeholder="Conta de Origem"
        type="text"
        formControlName="origem"
        maxlength="4"
      />
      <!-- @if (nome.invalid) {
        <mat-error>{{nomeError()}}</mat-error>
      } -->
    </mat-form-field>
</form>