.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 3px 0;
  font-size: 13px;
  border-radius: 8px;
  border: 1px solid black;
  width: 110px;
}

.btn:hover {
  border-color: var(--dourado-escuro);
  color: var(--dourado-escuro);
  font-weight: 700;
}

.btn:disabled {
  background-color: var(--dourado-escuro);
  color: white;
  font-weight: 700;
  border-color: var(--dourado-escuro);
  opacity: 1;
}