.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.content {
  margin-top: 64px;
  width: 100%;
  height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  justify-content: center;
}

app-sidebar {
  position: fixed;
  left: 0px;
  top: 64px;
  width: 200px;
}

app-main-panel {
  left: 200px;
  margin-left: 200px;
  padding: 20px;
  width: calc(100% - 200px);
}

.loading-initial {
  font-size: 50px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
}

.loading-icon {
  margin-left: 10px;
}