.btn {
  list-style: none;
  padding: 10px;
  background: var(--menu-background);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.container-btn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn:hover {
  background-color: var(--branco);
  color: var(--dourado-escuro)
}

.btn:disabled {
  background-color: var(--dourado-escuro);
  color: var(--branco);
  font-weight: 700;
  opacity: 1;
}

.sidebar {
  background: var(--menu-background);
  padding: 20px 0 0 25px;
  max-width: 200px;
  height: calc(100vh - 64px);
}