<aside class="sidebar">
  <nav class="container-btn">
    <div class="container-menu">
      @for (item of menuItems$; track $index) {
        <button
          class="btn d-flex gap-1"
          [disabled]="currentPage() === item.page"
          (click)="redirectToPage(item.page)"
        >
          <mat-icon>
            {{item.icon}}
          </mat-icon>
          {{item.label}}
        </button>
      }
    </div>
    @if (historyNav().length) {
      <button
        class="btn d-flex gap-1"
        (click)="backPage()"
      >
        <mat-icon>
          arrow_back
        </mat-icon>
        Voltar
      </button>
    }
  </nav>
</aside>
