<div class="d-flex flex-column gap-2 max">
  <h3>Dashboard</h3>
  <section>
    <div class="d-flex gap-3 align-items-center title mb-2">
      <h4 class="text">Resumo</h4>
      <button
        mat-icon-button
        [matTooltip]="hidden() ? 'Esconder valores' : 'Ver valores'"
        type="button"
        (click)="changeHidden()"
        class="d-flex justify-content-center align-items-center"
      >
        <mat-icon>{{hidden() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </div>
    <app-resume class="d-flex w-100 justify-content-center"/>
  </section>
  <section>
    <h4>Próximas</h4>
    <div class="d-flex gap-2 mb-2">
      <button
        mat-raised-button
        [matBadge]="parcelas().length"
        matBadgePosition="after"
        [matBadgeHidden]="!parcelas().length"
        (click)="toogleNext(nextCards.PARC)"
        [class]="nextSelec() === nextCards.PARC ? 'btn-ativo' : ''"
      >
        <mat-icon>price_check</mat-icon>
        Parcelas
      </button>
      <button
        mat-raised-button
        [matBadge]="documents().length"
        matBadgePosition="after"
        [matBadgeHidden]="!documents().length"
        (click)="toogleNext(nextCards.PG)"
        [class]="nextSelec() === nextCards.PG ? 'btn-ativo' : ''"
      >
        <mat-icon>request_quote</mat-icon>
        Pagamentos
      </button>
    </div>
    @if (nextSelec() === nextCards.PARC) {
      <app-loans-open/>
    }
    @if (nextSelec() === nextCards.PG) {
      <app-documents-open/>
    }
  </section>
  <section>
    <h4>Últimas Transações</h4>
    @defer (when !isLoading()) {
      <app-table class="d-flex w-100 justify-content-center"/>
    } @placeholder () {
      <div class="d-flex w-100 justify-content-center align-items-center box-height">
        <mat-spinner/>
      </div>
    }
  </section>
</div>
