.no-pointer {
  pointer-events: none;
}

form {
  max-width: 400px;
}

input.input-valor::-webkit-outer-spin-button,
input.input-valor::-webkit-inner-spin-button {
  display: none;
}

.saldo {
  font-size: 13px;
}

.container-saldo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
}

.btn {
  font-size: 12px;
  height: 23px;
  padding: 0 5px;
  border: 1px solid black;
}

.btn:hover {
  border-color: var(--dourado-escuro);
  color: var(--dourado-escuro)
}