<form
  [formGroup]="operationForm"
  class="d-flex flex-column justify-content-center align-items-center px-4 py-2 container gap-2 w-100 max-form"
  (ngSubmit)="submit()"
>
  <h3>
    {{ currentOp().label|translate }}
  </h3>
  @if (currentOp().operation === operation.PIX) {
    <div>
      <label>{{'TRANSFER.KEY_TYPE'|translate}}: </label>
      <mat-radio-group [formControl]="tipoConta" (change)="resetDestino()">
        <mat-radio-button value="email">E-mail</mat-radio-button>
        <mat-radio-button value="num">{{'TRANSFER.NUMBER'|translate}}</mat-radio-button>
      </mat-radio-group>
    </div>
    @if (destinoNumero) {
      <mat-form-field appearance="outline" class="w-100" formGroupName="destino">
        <mat-label>{{'TRANSFER.DESTINE_KEY'|translate}}</mat-label>
        <input
          matInput
          [placeholder]="'TRANSFER.DESTINE_NUMBER'|translate"
          type="text"
          formControlName="id"
          maxlength="4"
          (blur)="checkError('id', true)"
          [required]="currentOp().operation === operation.PIX && destinoNumero"
        />
        @if (operationForm.get('destino')?.get('id')?.invalid) {
          <mat-error>{{errorsForm().id|translate}}</mat-error>
        } @else if (destino?.get('nome')?.value) {
          <mat-hint>{{'LOGIN.NAME.LABEL'|translate}}: {{destino?.get('nome')?.value}}</mat-hint>
        }
      </mat-form-field>
    } @else {
      <mat-form-field appearance="outline" class="w-100" formGroupName="destino">
        <mat-label>{{'TRANSFER.DESTINE_KEY'|translate}}</mat-label>
        <input
          matInput
          [placeholder]="'TRANSFER.DESTINE_EMAIL'|translate"
          type="email"
          formControlName="email"
          maxlength="40"
          (blur)="checkError('email', true)"
          [required]="currentOp().operation === operation.PIX && !destinoNumero"
        />
        @if (operationForm.get('destino')?.get('email')?.invalid) {
          <mat-error>{{errorsForm().email|translate}}</mat-error>
        } @else if (destino?.get('nome')?.value) {
          <mat-hint>{{'LOGIN.NAME.LABEL'|translate}}: {{destino?.get('nome')?.value}}</mat-hint>
        }
      </mat-form-field>
    }
  }
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{'TRANSFER.DESCRIPTION'|translate}}</mat-label>
    <input
      matInput
      [placeholder]="`${
        'TRANSFER.DESCRIPTION_PLACE'|translate
      } ${
        (currentOp().label|translate) !== 'PIX'
        ? (currentOp().label|translate).charAt(0).toUpperCase() + (currentOp().label|translate).slice(1).toLowerCase()
        : (currentOp().label|translate)
      }`"
      type="text"
      formControlName="descricao"
      [required]="currentOp().operation === operation.PAGAMENTO"
      (blur)="checkError('descricao')"
      (input)="checkError('descricao')"
    />
    @if (operationForm.get('descricao')?.invalid) {
      <mat-error>{{errorsForm().descricao|translate}}</mat-error>
    }
  </mat-form-field>
  @if(currentOp().operation === operation.PAGAMENTO) {
    <mat-form-field appearance="outline" class="w-50" floatLabel="always">
      <mat-label>Data de Vencimento</mat-label>
      <input
        matInput
        [matDatepickerFilter]="filtraData"
        [matDatepicker]="picker"
        formControlName="vencimento"
        (dateInput)="checkError('vencimento')"
        (dateChange)="checkError('vencimento')"
        (blur)="checkError('vencimento')"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (operationForm.get('vencimento')?.invalid) {
        <mat-error>{{errorsForm().vencimento|translate}}</mat-error>
      }
    </mat-form-field>
  }
  @if (
    currentOp().operation !== operation.DEPOSITO
    && currentOp().operation !== operation.PAGAMENTO
  ) {
    <div class="w-100 container-saldo">
      <span class="saldo">
        {{'TRANSFER.BALANCE'|translate}}: {{saldo | brCurrency : lang}}
      </span>
      <div class="d-flex gap-1">
        @if (operationForm.get('valor')?.value !== formataValor(saldo)) {
          <button
            type="button"
            class="btn"
            (click)="transfSaldoTotal()"
          >
            {{'TRANSFER.TOTAL_BALANCE'|translate}}
          </button>
        }
        @if (operationForm.get('valor')?.value !== '0,00') {
          <button
            type="button"
            class="btn"
            (click)="limparValor()"
          >
            {{'TRANSFER.CLEAR_VALUE'|translate}}
          </button>
        }
      </div>
    </div>
  }
  <mat-form-field
    appearance="outline"
    [class]="currentOp().operation === operation.PAGAMENTO ? 'w-75' :'w-50'"
    floatLabel="always"
  >
    <mat-label>Valor</mat-label>
    <input
      matInput
      type="text"
      class="input-valor"
      step="0.01"
      formControlName="valor"
      (input)="formatar($event)"
      (focus)="formatar($event)"
      (click)="formatar($event)"
      (blur)="formatar($event)"
      required
    />
    <span matTextPrefix>{{'LOGIN.INCOME.PREFIX'|translate}}&nbsp;</span>
    @if (currentOp().operation === operation.PAGAMENTO) {
      <mat-slide-toggle matTextSuffix formControlName="pago" (change)="checkError('valor')">
        {{'TRANSFER.PAID'|translate}}
      </mat-slide-toggle>
    }
    @if (operationForm.get('valor')?.invalid) {
      <mat-error>{{errorsForm().valor|translate}}</mat-error>
    }
  </mat-form-field>
  <button
    mat-fab
    extended
    type="submit"
    class="btn-padrao"
    [disabled]="disabledBtn()"
  >
    <mat-icon>check</mat-icon>
    {{'TRANSFER.SUBMIT'|translate}}
  </button>
</form>
