<form
  [formGroup]="operationForm"
  class="d-flex flex-column justify-content-center align-items-center w-100 px-4 py-2 rounded border border-secondary container gap-2"
  (ngSubmit)="submit()"
>
  <h3>
    {{ currentOp().label }}
  </h3>
  @if (currentOp().operation === operation.PIX) {
    <div>
      <label>Tipo de Chave: </label>
      <mat-radio-group [formControl]="tipoConta" (change)="resetDestino()">
        <mat-radio-button value="email">E-mail</mat-radio-button>
        <mat-radio-button value="num">Número</mat-radio-button>
      </mat-radio-group>
    </div>
    @if (destinoNumero) {
      <mat-form-field appearance="outline" class="w-100" formGroupName="destino">
        <mat-label>Chave de Destino</mat-label>
        <input
          matInput
          placeholder="Número da Conta de Destino"
          type="text"
          formControlName="conta"
          maxlength="4"
          (blur)="checkError('conta', true)"
          [required]="currentOp().operation === operation.PIX && destinoNumero"
        />
        @if (operationForm.get('destino')?.get('conta')?.invalid) {
          <mat-error>{{errorsForm().conta}}</mat-error>
        } @else if (destino?.get('nome')?.value) {
          <mat-hint>Nome: {{destino?.get('nome')?.value}}</mat-hint>
        }
      </mat-form-field>
    } @else {
      <mat-form-field appearance="outline" class="w-100" formGroupName="destino">
        <mat-label>Chave de Destino</mat-label>
        <input
          matInput
          placeholder="E-mail da Conta de Destino"
          type="email"
          formControlName="email"
          maxlength="40"
          (blur)="checkError('email', true)"
          [required]="currentOp().operation === operation.PIX && !destinoNumero"
        />
        @if (operationForm.get('destino')?.get('email')?.invalid) {
          <mat-error>{{errorsForm().email}}</mat-error>
        } @else if (destino?.get('nome')?.value) {
          <mat-hint>Nome: {{destino?.get('nome')?.value}}</mat-hint>
        }
      </mat-form-field>
    }
  }
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Descrição</mat-label>
    <input
      matInput
      [placeholder]="`Descrição do ${currentOp().operation}`"
      type="text"
      formControlName="descricao"
      [required]="currentOp().operation === operation.PAGAMENTO"
      (blur)="checkError('descricao')"
      (input)="checkError('descricao')"
    />
    @if (operationForm.get('descricao')?.invalid) {
      <mat-error>{{errorsForm().descricao}}</mat-error>
    }
  </mat-form-field>
  @if(currentOp().operation === operation.PAGAMENTO) {
    <mat-form-field appearance="outline" class="w-50" floatLabel="always">
      <mat-label>Data de Vencimento</mat-label>
      <input
        matInput
        [matDatepickerFilter]="filtraData"
        [matDatepicker]="picker"
        formControlName="vencimento"
        (dateInput)="checkError('vencimento')"
        (dateChange)="checkError('vencimento')"
        (blur)="checkError('vencimento')"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (operationForm.get('vencimento')?.invalid) {
        <mat-error>{{errorsForm().vencimento}}</mat-error>
      }
    </mat-form-field>
  }
  @if (currentOp().operation !== operation.DEPOSITO) {
    <div class="w-100 container-saldo">
      <span class="saldo">
        Saldo: {{saldo | brCurrency}}
      </span>
      <div class="d-flex gap-1">
        @if (operationForm.get('valor')?.value !== formataValor(saldo)) {
          <button
            type="button"
            class="btn"
            (click)="transfSaldoTotal()"
          >
            Saldo Total no Valor
          </button>
        }
        @if (operationForm.get('valor')?.value !== '0,00') {
          <button
            type="button"
            class="btn"
            (click)="limparValor()"
          >
            Limpar Valor
          </button>
        }
      </div>
    </div>
  }
  <mat-form-field
    appearance="outline"
    [class]="currentOp().operation === operation.PAGAMENTO ? 'w-75' :'w-50'"
    floatLabel="always"
  >
    <mat-label>Valor</mat-label>
    <input
      matInput
      type="text"
      class="input-valor"
      step="0.01"
      formControlName="valor"
      (input)="formatar($event)"
      (focus)="cursorend($event)"
      (click)="cursorend($event)"
      (blur)="checkError('valor')"
      required
    />
    <span matTextPrefix>R$&nbsp;</span>
    @if (currentOp().operation === operation.PAGAMENTO) {
      <mat-slide-toggle matTextSuffix formControlName="pago">
        Pago
      </mat-slide-toggle>
    }
    @if (operationForm.get('valor')?.invalid) {
      <mat-error>{{errorsForm().valor}}</mat-error>
    }
  </mat-form-field>
  <button
    mat-fab
    extended
    type="submit"
    class="btn-padrao"
    [disabled]="disabledBtn()"
  >
    <mat-icon>check</mat-icon>
    REALIZAR
  </button>
</form>
