<div class="d-flex w-100 justify-content-evenly gap-2">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="card-title">DISPONÍVEL</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="card-resume">
      <div>
        <mat-card-subtitle>Limite</mat-card-subtitle>
        {{ limiteDisp | brCurrency}}
      </div>
      <div>
        <mat-card-subtitle>Parcelas</mat-card-subtitle>
        {{ parcelasMax }}
      </div>
      <div>
        <mat-card-subtitle>Juros</mat-card-subtitle>
        {{ taxa() | brPercent }}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="card-title">SALDO DEVEDOR TOTAL</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="card-resume-valor">
      {{ valorEmprestimos | brCurrency}}
    </mat-card-content>
  </mat-card>
</div>
