<div class="d-flex w-100 justify-content-evenly gap-2">
  @if (limiteDisp === 0) {
    <mat-card appearance="outlined" class="no-limit-container flex-fill">
      <mat-card-content class="card-resume-no-limit">
        <mat-card-title class="card-title">{{'LOAN.RESUME.DONT_LIMIT'|translate}}</mat-card-title>
      </mat-card-content>
    </mat-card>
  } @else {
    <mat-card
      appearance="outlined"
      [matTooltip]="'LOAN.RESUME.TOOLTIP.AVAILABLE'|translate"
      class="no-limit-container flex-fill"
    >
      <mat-card-header>
          <mat-card-title class="card-title">
              {{'LOAN.RESUME.AVAILABLE'|translate}}
          </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-resume-limit">
        <div class="container-disp-text">
          <span class="w-100">
            {{'LOAN.RESUME.VALUE'|translate}}
          </span>
          <span class="w-100 bold">
            {{ limiteDisp | brCurrency : lang}}
          </span>
        </div>
        <div class="container-disp-text">
          <span class="w-100">
            {{'LOAN.RESUME.INSTALLMENTS'|translate}}
          </span>
          <span class="w-100 bold">
            {{ parcelasMax }}
          </span>
        </div>
        <div class="container-disp-text">
          <span class="w-100">
            {{'LOAN.RESUME.TAX'|translate}}
          </span>
          <span class="w-100 bold">
            {{ taxa() | brPercent : lang }}
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  }
  @if (valorEmprestimos>=0) {
    <mat-card
      class="flex-fill"
      appearance="outlined"
      [matTooltip]="'LOAN.RESUME.TOOLTIP.OUTSTANDING'|translate"
    >
      <mat-card-header class="justify-content-center">
          <mat-card-title class="card-title">
            {{'LOAN.RESUME.TOTAL_OUTSTANDING'|translate}}
          </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-resume-valor">
        {{ valorEmprestimos | brCurrency : lang}}
      </mat-card-content>
    </mat-card>
  }
</div>
@if (limiteDisp > (vrParcelaMin * (1 + taxa()))) {
  <button
    mat-fab
    extended
    class="mt-3"
    class="btn-padrao w-75"
    type="button"
    routerLink="simular"
  >
    <mat-icon>add</mat-icon>
    {{'LOAN.RESUME.SIMULATE'|translate}}
  </button>
}
@if (userLoans().length) {
  <button
    mat-fab
    extended
    class="mt-3"
    class="btn-padrao w-75"
    type="button"
    routerLink="contratos"
  >
    <mat-icon>article_person</mat-icon>
    {{'LOAN.RESUME.CONTRACTS'|translate}}
  </button>
}
