:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.valor {
  font-weight: 700;
  font-size: 18px;
  width: 140px;
}

.tipo {
  font-weight: 500;
}

.descricao {
  font-size: 12px;
  font-weight: 500;
}

.recebedor {
  font-size: 12px;
}

.header-table {
  background-color: var(--menu-background);
}

.saldo {
  font-weight: 400;
}