<main class="d-flex flex-column gap-4 w-100 max">
  <h3>EMPRÉSTIMOS</h3>
  <app-loan-resume class="d-flex justify-content-between w-100"/>
  @if (isList() && loans().length) {
    <div class="d-flex justify-content-center">
      @if (limiteDisp > (vrParcelaMin * (1 + tax()))) {
        <button
          mat-fab
          extended
          class="mt-3"
          class="btn-padrao w-75"
          type="button"
        >
          <mat-icon>add</mat-icon>
          SOLICITAR EMPRÉSTIMO
        </button>
      }
    </div>
    <app-loan-list/>
  } @else {
    <app-loan-form class="d-flex justify-content-center w-100"/>
  }
</main>
