@use "@angular/material" as mat;
@use '../_theme-colors' as my-theme;

:root {
  --menu-background: #e6e6e6;
  --dourado-escuro: #a08e2a;
  --branco: #ffffff;
  --hover-menu-btn: #2a73a0;
  --cinza-escuro: #d4d4d4;
  --preto: #212529;
  --wmp: 800px;
  --border-container-color: #c6c6c6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include mat.theme((
    color: ((
      primary: my-theme.$primary-palette
    ))
  ))
}

body {
  background: var(--branco);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-padrao {
  background-color: var(--dourado-escuro) !important;
  color: var(--branco) !important;
}

.btn-padrao:disabled {
  background-color: var(--menu-background) !important;
}

.link-padrao {
  color: var(--dourado-escuro) !important;
}

.link-padrao:hover {
  background: rgba(160, 142, 42, 0.1) !important;
}

.max {
  max-width: 650px;
  width: 95%;
}

.max-form {
  border: 0.8px solid var(--border-container-color);
  border-radius: 10px;
  max-width: 500px;
  width: 95%;
}

.snackbar-erro {
  background-color: #f44336 !important;
  color: white !important;
}

input.input-valor::-webkit-outer-spin-button,
input.input-valor::-webkit-inner-spin-button {
  display: none;
}

.container-icon{
  border-radius: 100%;
  border: 3px solid var(--cinza-escuro);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur {
  filter: blur(5px);
  transition: filter 0s ease-in-out;
}

@media screen and (max-width: 767px) {
  h3 {
    margin-left: 50px;
  }
}