<table class="table table-sm" style="max-width: 520px;">
  <tbody>
    @for (trans of data; track $index) {
      <tr>
        <td style="width: 60px;">
          <div class="p-1 container-icon">
            <mat-icon>{{(trans | tipoTrans).icon}}</mat-icon>
          </div>
        </td>
        <td>
          <div class="tipo">
            {{(trans | tipoTrans).label}}
          </div>
          @if(trans.descricao) {
            <div class="descricao">
              {{ trans.descricao }}
            </div>
          }
          <div class="recebedor">
            {{trans | recebedor}}
          </div>
        </td>
        <td style="width: 150px; text-align: end;">
          <div [class]="`${
            trans.origem?.conta !== user()?.conta
              ? 'text-success'
              : 'text-danger'
            } valor`">
            {{trans.valor | brCurrency : trans.origem?.conta === user()?.conta}}
          </div>
          <div>{{trans.data | dateTrans : dateFormats.RESUME_TRANS}}</div>
        </td>
      </tr>
    }
  </tbody>
</table>