<table class="table table-sm" style="max-width: 520px;">
  <tbody>
    @for (trans of data; track $index) {
      <tr>
        <td style="width: 60px;">
          <div class="p-1 container-icon">
            <mat-icon [class]="hidden() ? '' : 'blur'">
              {{(trans | tipoTrans).icon}}
            </mat-icon>
          </div>
        </td>
        <td [class]="hidden() ? '' : 'blur'">
          <div class="tipo">
            {{(trans | tipoTrans).label}}
          </div>
          @if(trans.descricao) {
            <div class="descricao">
              {{ trans.descricao }}
            </div>
          }
          <div class="recebedor">
            {{trans | recebedor}}
          </div>
        </td>
        <td style="width: 150px; text-align: end;" [class]="hidden() ? '' : 'blur'">
          <div
            [class]="`${
              trans.origem?.id !== user()?.id
                ? 'text-success'
                : 'text-danger'
            } valor`"
          >
            {{trans.valor | brCurrency : lang : trans.origem?.id === user()?.id}}
          </div>
          <div>{{trans.data | dateTrans : dateFormats.RESUME_TRANS}}</div>
        </td>
      </tr>
    }
  </tbody>
</table>