.saldo-dev-incial {
  padding: 24px 24px 0;
  font-size: 16px;
}

.valor {
  text-align: center;
}

.pay-btn {
  height: 20px;
  width: 20px;
  padding: 0;
}

.pay-icon {
  height: 20px;
  width: 20px;
}

.fixed-head {
  top: -1px;
  font-size: 13px;
}

.font-size {
  font-size: 11px;
}

th, td {
  padding: 5px;
}