<h2 mat-dialog-title>
  {{'DIALOGS.DOCUMENT.EDIT.TITLE'|translate}}
</h2>
<form
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <mat-dialog-content
    class="d-flex flex-column justify-content-center align-items-center w-100 px-4 py-2 container gap-2"
  >
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>
        {{'DIALOGS.DOCUMENT.EDIT.DESCRIPTION'|translate}}
      </mat-label>
      <input
        matInput
        [placeholder]="'DIALOGS.DOCUMENT.EDIT.DESCRIPTION_PH'|translate"
        type="text"
        formControlName="descricao"
        required
        (blur)="checkError('descricao')"
        (input)="checkError('descricao')"
      />
      @if (form.get('descricao')?.invalid) {
        <mat-error>{{erroMessage$().descricao}}</mat-error>
      }
    </mat-form-field>
    @defer(on immediate) {
      <mat-form-field
        appearance="outline"
        class="w-75 mt-2 mx-auto"
        floatLabel="always"
        [formGroup]="form"
      >
        <mat-label>
          {{'DIALOGS.DOCUMENT.EDIT.DUE_DATE'|translate}}
        </mat-label>
        <input
          matInput
          [matDatepickerFilter]="filtraData"
          [matDatepicker]="picker"
          formControlName="vencimento"
          (dateInput)="checkError('vencimento')"
          (dateChange)="checkError('vencimento')"
          (blur)="checkError('vencimento')"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (this.form.get('data')?.invalid) {
          <mat-error>{{erroMessage$()}}</mat-error>
        }
      </mat-form-field>
    }
    <mat-form-field
      appearance="outline"
      class="w-75"
      floatLabel="always"
    >
      <mat-label>
        {{'DIALOGS.DOCUMENT.EDIT.VALUE'|translate}}
      </mat-label>
      <input
        matInput
        type="text"
        class="input-valor"
        step="0.01"
        formControlName="valor"
        (input)="formatar($event)"
        (focus)="formatar($event)"
        (click)="formatar($event)"
        (blur)="formatar($event)"
        required
      />
      <span matTextPrefix>{{'DIALOGS.DOCUMENT.EDIT.PREFIX'|translate}}&nbsp;</span>
      <mat-slide-toggle matTextSuffix formControlName="pago" (change)="checkError('valor')">
        {{'DIALOGS.DOCUMENT.EDIT.PAID'|translate}}
      </mat-slide-toggle>
      @if (form.get('valor')?.invalid) {
        <mat-error>{{erroMessage$().valor}}</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      cdkFocusInitial
      type="submit"
      [disabled]="disabledBtn()"
    >
      {{'DIALOGS.DOCUMENT.EDIT.SAVE'|translate}}
    </button>
    <button mat-button type="button" (click)="fechar()">
      {{'DIALOGS.DOCUMENT.EDIT.CANCEL'|translate}}
    </button>
  </mat-dialog-actions>
</form>
